doctype
html.no-js(lang="es")
  head
    meta(charset="utf-8")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(name ="description" content="Livinn")
    title Livinn | #{title}

    <!-- FAVICON -->
    link(href="#")

    <!-- CSS -->
    link(href="/css/bootstrap.min.css", rel="stylesheet")
    link(href="/css/jquery-ui.css" rel="stylesheet")
    link(href="/css/font-awesome.min.css" rel="stylesheet" type="text/css")
    link(href="/css/animate.min.css", rel="stylesheet")
    link(href="/css/ionicons.min.css" rel="stylesheet")
    link(href="/css/style.css", rel="stylesheet")
    block header
  body
    button.toggle-btn.toggle-menu.btn-mobileMenu
      span
      span
      span
    .col-xs-12.col-sm-2.dashboard-menu.off-canvas-menu-closed#off-canvas-menu
        .col-xs-8.col-xs-offset-2.col-sm-12.col-sm-offset-0.logo-dashboard
            img.img-responsive(src="/img/logolivinn-blanco.svg", alt="Livinn")
        ul.list-unstyled
            li.inactive DASHBOARD
            if user.role == 'admin' || user.role == 'operation manager'
                li
                    a(href="/users")
                      i.menu-users-icon
                      span Users
            li
                a(href="/tickets")
                  i.menu-tickets-icon
                  span Work Orders
                  i.label.label-livinn#ticketcount 0

    .col-xs-12.no-padding.dashcontainer#dashcontainer
        .col-xs-12.no-padding.heading.affix
            //- h1.col-xs-6 #{title}
            .col-xs-5.navbar-brand.logoHeading
              a.col-xs-12(href="#")
                img(class="img-responsive" src="../img/logolivinn-blanco.svg")
            .col-xs-5.col-xs-offset-1
                ul.nav.navbar-nav.navbar-right
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false' style="text-transform:capitalize;")
                            img.img-circle.user-disp-img(src="#{user.profile_picture}")
                            span.hidden-xs.user-disp-name    #{user.name.first} #{user.name.last}
                        ul.dropdown-menu
                            li
                                a(href='/settings/personal-information') Settings
                            li
                                a(href='/logout') Log Out
        .col-xs-12.bordeGradiente
        block content
    .alert.alert-warning.animated.col-xs-12.col-sm-6.col-sm-offset-3#warning
        p.text-center
    .alert.alert-success.animated.col-xs-12.col-sm-6.col-sm-offset-3#success
        p.text-center
    script(src="/js/jquery-1.12.1.min.js")
    script(src="/js/jquery-ui.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/moment.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js")
    script.

        //-------------------------------------------------------------------------
        //            SOCKET.IO
        //-------------------------------------------------------------------------

        var socket = io('/superadmin');

        socket.on('new-ticket', function (dataServer) {
          var ticketcount = parseInt($('#ticketcount').html());
          ticketcount++;
          $('#ticketcount').html(ticketcount);
        });

        //-------------------------------------------------------------------------
        //            MENU & NAVIGATION
        //-------------------------------------------------------------------------

        $('.toggle-menu').click(function() {
            toggleMenu();
        });

        function toggleMenu() {
          $('.toggle-btn').toggleClass( "active" );
          if ($('#off-canvas-menu').hasClass('off-canvas-menu-open')) {
              $("#dashcontainer").removeClass("col-sm-10 col-sm-offset-2");
              $('#off-canvas-menu').removeClass('off-canvas-menu-open');
              $('#off-canvas-menu').addClass('off-canvas-menu-closed');
          } else {
              $("#dashcontainer").addClass("col-sm-10 col-sm-offset-2");
              $('#off-canvas-menu').removeClass('off-canvas-menu-closed');
              $('#off-canvas-menu').addClass('off-canvas-menu-open');
          }
        }

        //-------------------------------------------------------------------------
        //            ALERTS
        //-------------------------------------------------------------------------

        function warningAlert(message){
            $('#warning p').html(message);
            $('#warning').addClass("slideInDown");
            $('#warning').fadeIn('slow');
            setTimeout(function(){
                $('#warning').fadeOut('slow');
                $('#warning').removeClass("slideInDown");
            }, 2600);
        }

        function successAlert(message){
            $('#success p').html(message);
            $('#success').addClass("slideInDown");
            $('#success').fadeIn('slow');
            setTimeout(function(){
                $('#success').fadeOut('slow');
                $('#success').removeClass("slideInDown");
            }, 2600);
        }

    block scripts
