extend ../layout
block content
    include settings-menu.jade
    .col-xs-12.col-sm-7
        .page-header
            h2
                |   Personal information
                br
                small This information is private.
        .col-xs-12.col-sm-4.col-sm-offset-1.form-group
            img.img-responsive.img-circle(src="#{user.profile_picture}")
        form.col-xs-12.col-sm-10.col-sm-offset-1#updateinfoform(method="put" action="/api/users/#{user._id}")
            .form-group
                label Document
                p.form-control-static
                    span.text-capitalize #{user.doc.typedoc}
                    |  #{user.doc.number}
            .form-group
                label Firstname
                input.form-control(type="text" value="#{user.name.first}" placeholder="Nombre" name="first")
            .form-group
                label Lastname
                input.form-control(type="text" value="#{user.name.last}" placeholder="Nombre" name="last")
            .form-group
                label
                    |   Email
                    if !user.verified_email
                        i.fa.fa-check-circle.email-verified(aria-hidden="true")
                        a.verified-link.hidden(href="#" onclick="verifyEmail") Verify
                    else
                        i.fa.fa-check-circle.email-verified.active(aria-hidden="true" title="Verified")
                p.form-control-static #{user.email}
            .form-group
                label Cellphone
                input.form-control(type="text" value="#{user.phone.number || '' }" placeholder="Teléfono" name="phone")
            .form-group-end
                input.btn.btn-livinn(type="submit" value="Update information" style="margin-bottom:30px;")

block scripts
    script.
        function verifyEmail(){
            console.log("verificar");
        }

        $('#updateinfoform').submit(function(evt){
            evt.preventDefault();

            var url = $(this).attr("action");
            var formData = $(this).serialize();

            console.log(formData);

            $.ajax({
                type: "PUT",
                url: url,
                data: formData,
                success : function(response){
                    successAlert('Your personal information has been updated');
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    var message = XMLHttpRequest.responseJSON.message;
                    if(message == 'password and password confirmation mismatch'){
                        $('#inputConfPasswordr').focus();
                        $('.emailregistrationerror').removeClass('has-error');
                        $('.passwordregistrationerror').addClass('has-error');
                        warningAlert('Las contraseñas no coinciden');
                    } else {
                        warningAlert(message);
                    }
                }
            });
        });
