extend ../layout
block header
    link(href="/plugins/summernote/summernote.css" rel="stylesheet")
block content
    //- MOBILE FORM
    .col-xs-12.no-padding.hidden-md.hidden-lg#searchTicket.userFilters.userFiltersUp.searchTicket
        .col-xs-12.no-padding.clearFilters
            .col-xs-6.btnCloseFiltersMobile
              button.btn.btn-default(onclick='collapseFilters1()')
                span
                  i.icon.ion-ios-arrow-up(style="font-size:2rem;")
            .col-xs-6.btnClearFilters
               button.btn.btn-default.Ticket.cleanLocationTicket.cleanCategorySearch.cleanStatusSearch.cleanPrioritySearch.cleanSubcategoriesSearch Clear All

        .col-xs-12.no-padding.search-filtersMobile
            form.col-xs-12.navbar-left(action='' method='' type='')
                .input-group.search
                    .col-xs-4.no-padding
                        .select
                            select#searchbymobile
                                option(value="requested_by") Requested by
                                option(value="created_by" selected="true") Created by
                                option(value="assigned_to") Assigned to
                                option(value="id") Work Order ID
                    .col-xs-8.no-padding
                        input.form-control#searchmobile(type="text" name="name" placeholder="Search")
            ul.col-xs-12.no-padding.nav.navbar-nav
              li.col-xs-12.no-padding.dropdown
                a.col-xs-12.dropdown-toggle.locationDropdownTicket(href='#' data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Location
                  span
                    i.icon.ion-ios-arrow-down
                ul.col-xs-12.no-padding.dropdown-menu
                  li
                    a.locationSearch(href="#") Santiago - Lord Cochrane
                  li
                    a.locationSearch(href="#") Viña Del Mar - Alvarez
                  li
                    a.locationSearch(href="#") Bogotá - Calle 18
                  li
                    a.locationSearch(href="#") Bogotá - Calle 33
                  li
                    a.locationSearch(href="#") Barranquilla - Villa Campestre

              li.col-xs-12.no-padding.dropdown
                a.col-xs-12.dropdown-toggle.categoryDropdownTicket(href='#' data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Category
                  span
                      i.icon.ion-ios-arrow-down
                ul.col-xs-12.no-padding.dropdown-menu
                  li
                    a.categorySearch(href="#") Cleaning Services
                  li
                    a.categorySearch(href="#") Customer Service
                  li
                    a.categorySearch(href="#") Maintenance
                  li
                    a.categorySearch(href="#") Visits
                  li
                    a.categorySearch(href="#") IT Support
                  li
                    a.categorySearch(href="#") Others

              li.col-xs-12.no-padding.dropdown.subcategoriesTickets
                a.col-xs-12.dropdown-toggle.subcategoriesDropdownTicket(href='#' data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Subcategories
                    span
                        i.icon.ion-ios-arrow-down
                ul.col-xs-12.no-padding.dropdown-menu
                  li.dropdown-header.title Zona BBQ
                  li.dropdown-header.subtitle Reservación
                  li
                    a.subcategorySearch.option(href="#") Parrilla
                  li
                    a.subcategorySearch.option(href="#") Utensilios de Cocinar
                  li
                    a.subcategorySearch.option(href="#") Cancelación
                  li
                    a.subcategorySearch.option(href="#") Cambios
                  li.dropdown-header.subtitle Limpieza
                  li
                    a.subcategorySearch.option(href="#") Piso Deck
                  li
                    a.subcategorySearch.option(href="#") Lava Platos
                  li
                    a.subcategorySearch.option(href="#") Mesa
                  li
                    a.subcategorySearch.option(href="#") Parrilla

                  li.dropdown-header.title Cuarto de Billar
                  li.dropdown-header.subtitle Reservación
                  li
                    a.subcategorySearch.option(href="#") Mesa de Billar
                  li
                    a.subcategorySearch.option(href="#") Mesa Pool
                  li.dropdown-header.subtitle Limpieza
                  li
                    a.subcategorySearch.option(href="#") Ventanas
                  li
                    a.subcategorySearch.option(href="#") Piso PVC
                  li
                    a.subcategorySearch.option(href="#") Lámparas
              li.col-xs-12.no-padding.dropdown
                  a.col-xs-12.dropdown-toggle.statusDropdownTicket(href='#' data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Status
                      span
                          i.icon.ion-ios-arrow-down
                  ul.col-xs-12.no-padding.dropdown-menu
                      li
                        a.statusSearch(href="#") Open
                      li
                        a.statusSearch(href="#") Pending
                      li
                        a.statusSearch(href="#") Resolved
              li.col-xs-12.no-padding.dropdown
                a.col-xs-12.dropdown-toggle.priorityDropdownTicket(href='#' data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Priority
                  span
                    i.icon.ion-ios-arrow-down
                ul.col-xs-12.no-padding.dropdown-menu
                  li
                    a.prioritySearch(href="#") 1 / High Priority / 12H
                  li
                    a.prioritySearch(href="#") 2 / Medium Priority / 48H
                  li
                    a.prioritySearch(href="#") 3 / Low Priority / 72H
                  li
                    a.prioritySearch(href="#") 4 / To plan / To schedule



    //-DESKTOP!
    .col-xs-12.userTools.has-feedbackc.ticketTools
        .col-xs-12.col-md-2.heading-title.hidden-md.hidden-lg
            h2.col-xs-10.col-md-12.no-padding #{title}
            .pull-right.visible-xs.visible-sm
                button.btn.btn-livinn#Filters(onclick="deployFilters1()" style="padding: 2px 8px; margin-top: -2px;")
                    span
                        i.icon.ion-ios-search-strong(style="font-size:2rem;")
        .col-xs-12.hidden-xs.hidden-sm.no-padding
            form.form.col-xs-12.no-padding#searchform(method="post" action="/api/user/#{user._id}/tickets/search")
                h2.workordertitle#workordertitle Work Orders

                button.btn.btn-main.btn-livinn.pull-right(type="button" data-toggle="modal", data-target="#newticketModal", href="/#",data-dismiss="modal") New

                .pull-right.dropdown.hidden-xs.hidden-sm(style="display:inline-block;")
                  button.btn.btn-adduser.btn-dropdown.dropdown-toggle.filter#priorityDropdownTicket(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") Priority
                      i.fa.fa-angle-down
                  ul.dropdown-menu(aria-labelledby="dropdownMenu1")
                      li
                        a.prioritySearch(href="#")
                          span.hidden-md 1 / High Priority / 12H
                          span.hidden-lg| High
                      li
                        a.prioritySearch(href="#")
                          span.hidden-md 2 / Medium Priority / 48H
                          span.hidden-lg| Medium
                      li
                        a.prioritySearch(href="#")
                          span.hidden-md 3 / Low Priority / 72H
                          span.hidden-lg| Low
                      li
                        a.prioritySearch(href="#")
                          span.hidden-md 4 / To plan / To schedule
                          span.hidden-lg| To Plan
                      li.dropdown-header.cleanPrioritySearch.pull-right(style="cursor:pointer; color:#D51C5C;") Clear

                .pull-right.dropdown.hidden-xs.hidden-sm(style="display:inline-block;")
                  button.btn.btn-adduser.btn-dropdown.dropdown-toggle.filter#statusDropdownTicket(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") Status
                      i.fa.fa-angle-down
                  ul.dropdown-menu(aria-labelledby="dropdownMenu1")
                      li
                          a.statusSearch(href="#") Open
                      li
                          a.statusSearch(href="#") Pending
                      li
                          a.statusSearch(href="#") Resolved
                      li.dropdown-header.cleanStatusSearch.pull-right(style="color:#D51C5C;") Clear

                .pull-right.dropdown.hidden-xs.hidden-sm.subcatDesktop(style="display:inline-block;")
                  button.btn.btn-adduser.btn-dropdown.dropdown-toggle.filter#subcategoriesDropdownTicket(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") Subcategories
                      i.fa.fa-angle-down
                  ul.dropdown-menu(aria-labelledby="dropdownMenu1")
                    li.dropdown-header.title Zona BBQ
                    li.dropdown-header.subtitle Reservación
                    li
                      a.subcategorySearch.option(href="#") Parrilla
                    li
                      a.subcategorySearch.option(href="#") Utensilios de Cocinar
                    li
                      a.subcategorySearch.option(href="#") Cancelación
                    li
                      a.subcategorySearch.option(href="#") Cambios
                    li.dropdown-header.subtitle Limpieza
                    li
                      a.subcategorySearch.option(href="#") Piso Deck
                    li
                      a.subcategorySearch.option(href="#") Lava Platos
                    li
                      a.subcategorySearch.option(href="#") Mesa
                    li
                      a.subcategorySearch.option(href="#") Parrilla

                    li.dropdown-header.title Cuarto de Billar
                    li.dropdown-header.subtitle Reservación
                    li
                      a.subcategorySearch.option(href="#") Mesa de Billar
                    li
                      a.subcategorySearch.option(href="#") Mesa Pool
                    li.dropdown-header.subtitle Limpieza
                    li
                      a.subcategorySearch.option(href="#") Ventanas
                    li
                      a.subcategorySearch.option(href="#") Piso PVC
                    li
                      a.subcategorySearch.option(href="#") Lámparas
                    li.dropdown-header.cleanSubcategoriesSearch.pull-right(style="color:#D51C5C;") Clear

                .pull-right.dropdown.hidden-xs.hidden-sm(style="display:inline-block;")
                  button.btn.btn-adduser.btn-dropdown.dropdown-toggle.filter#categoryDropdownTicket(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") Category
                      i.fa.fa-angle-down
                  ul.dropdown-menu(aria-labelledby="dropdownMenu1")
                      li
                          a.categorySearch(href="#") Cleaning Services
                      li
                          a.categorySearch(href="#") Customer Service
                      li
                          a.categorySearch(href="#") Maintenance
                      li
                          a.categorySearch(href="#") Visits
                      li
                          a.categorySearch(href="#") IT Support
                      li
                          a.categorySearch(href="#") Others
                      li.dropdown-header.cleanCategorySearch.pull-right(style="color:#D51C5C;") Clear
                if user.role == 'admin'
                .pull-right.dropdown.hidden-xs.hidden-sm(style="display:inline-block;")
                  button.btn.btn-adduser.btn-dropdown.dropdown-toggle.filter#locationDropdownTicket(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") Location
                      i.fa.fa-angle-down
                  ul.dropdown-menu(aria-labelledby="dropdownMenu1")
                      li
                        a.locationSearch(href="#") Santiago - Lord Cochrane
                      li
                        a.locationSearch(href="#") Viña Del Mar - Alvarez
                      li
                        a.locationSearch(href="#") Bogotá - Calle 18
                      li
                        a.locationSearch(href="#") Bogotá - Calle 33
                      li
                        a.locationSearch(href="#") Barranquilla - Villa Campestre
                      li.dropdown-header.cleanLocationTicket.pull-right(style="color:#D51C5C;") Clear
                .pull-right.no-padding.searchInputTicket(style="display: inline-block;")
                    .input-group.search
                        .col-md-6.no-padding
                            .select
                                select#searchby
                                    option(value="requested_by") Requested by
                                    option(value="created_by" selected="true") Created by
                                    option(value="assigned_to") Assigned to
                                    option(value="id") Work Order ID
                        .col-xs-6.no-padding
                            input.form-control#search(type="text" name="name" placeholder="Search")

    input#hiddenHelper.hidden(value=0)

    .col-xs-12.content
        .col-xs-12.col-sm-10.col-sm-offset-1.no-padding

            #loader
            .col-xs-12.no-padding.tickets
            .col-xs-12
                .loading#loading(style="display:none; margin: -50px auto 0 auto;")

    .col-xs-2.col-xs-offset-10.no-padding.activity-feed.hide
        .panel.panel-default.col-xs-12.no-padding
            h2 activity feed
block modals
    <!-- New Work Order Modal -->
    .modal.fade#newticketModal.ticketModal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
        .modal-dialog.modal-lg
            .modal-content
                .pull-right(style="position:absolute; right:15px; top:11px; z-index:2;")
                    button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                .modal-header
                    h2.modal-title.text-center Create Work Order
                .modal-body

                    .row
                        form.col-xs-12.col-sm-10.col-sm-offset-1#ticketForm(action="/api/tickets" method="post" enctype="multipart/form-data" role="form" data-parsley-validate="")
                            if user.role != 'resident'
                                .form-group.hidden
                                    label
                                        |   Requested by
                                        span  (optional)
                                        button.btn(type="button" data-tooltip="true" data-placement="right" title="In case you want to file a Work Order as someone else, leave it blank if you want to file it as yours." style="background-color:#fff; padding: 0px 4px; position: relative; top: -1px;")
                                            i.fa.fa-question-circle(aria-hidden="true")
                                    input.form-control.tagarea#searchinput(type="search")
                                    input.form-control#searchinputHidden(type="hidden" name="requested_by")
                            if user.role == 'admin'
                              .form-group
                                label Location
                                .select
                                    select(name="location" required)
                                      option(value="") Choose a location
                                      option(value="Barranquilla - Villa Campestre") Barranquilla - Villa Campestre
                                      option(value="Bogotá - Calle 18") Bogotá - Calle 18
                                      option(value="Bogotá - Calle 33")  Bogotá - Calle 33
                                      option(value="Santiago - Lord Cochrane") Santiago - Lord Cochrane
                                      option(value="Viña Del Mar - Alvarez") Viña Del Mar - Alvarez

                            else
                              input(type="hidden" name="location" value="#{user.location}")
                            .form-group
                                label Category
                                .select
                                    select.form-control(name="category" required)
                                        option(value="") Please choose a category
                                        option(value="cleaning services") Cleaning Services
                                        option(value="customer service") Customer Service
                                        option(value="maintenance") Maintenance
                                        option(value="visits") Visits
                                        option(value="it support") IT Support
                                        option(value="others") Others
                            .form-group
                                label Subject
                                input.form-control#subject(type="text" placeholder="Subject" name="subject" required)
                            .form-group
                                label Message
                                textarea.form-control#message(type="text" placeholder="Message" name="message" rows="5" required)

                            .form-group
                                label
                                    |   Attachment
                                    span (optional)
                                input#file-select(type='file' name='attachments' data-classButton="btn btn-primary" data-input="false" data-classIcon="icon-plus" data-buttonText="Escoger Archivo")
                            .modal-footer
                                .pull-right.form-group-end
                                    button.btn(type="button" data-dismiss="modal" style="margin-right:7px;") Cancel
                                    input.btn.btn-livinn(type="submit" value="Submit")

    <!-- Ticket Read Modal -->
    .modal.fade.ticket-modal.readModal#readModal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true" )
        .modal-dialog.full-width
            .modal-content
                .modal-header.gradienteLivinn
                    button.close(type="button", data-dismiss="modal", aria-hidden="true")
                        i.icon.ion-android-close
                    h3.text-center.readModalTitle
                .modal-body
                    .row
                        .col-xs-12(style="height:100%;")
                            .col-xs-12.col-sm-3.ticket-left
                                input#hiddenTicket(type="hidden")
                                .form-group
                                    label Assigned to
                                    p.form-control-static.mt-15#ticketasigneeGroup
                                    input.form-control#ticketasignee(type="text" placeholder="Assigned To")
                                    input.form-control#ticketassigneeHiddenRemove(type="hidden")
                                    input.form-control#ticketasigneeHidden(type="hidden" name="assigned_to")

                                .form-group
                                    label Category
                                    .select
                                        select.editopenticket#openticketcategory(name="category")
                                            option(value="cleaning services") Cleaning Services
                                            option(value="customer service") Customer Service
                                            option(value="maintenance") Maintenance
                                            option(value="visits") Visits
                                            option(value="it support") IT Support
                                            option(value="others") Others
                                .form-group
                                    label Subcategory
                                    .select
                                        select.editopenticket#openticketsubcategory(name="subcategory")
                                            option(value="" selected) Subcategories
                                            optgroup(label="Zona de BBQ" style="color:#000;")
                                            optgroup(label="Reservación" style="margin-left:15px;")
                                                option(value="Zona de BBQ/Reservación/Parrilla") Parrilla
                                                option(value="Zona de BBQ/Reservación/Utensilios de Cocinar") Utensilios de Cocinar
                                            option(value="Zona de BBQ/Cancelación" style="margin-left:15px;") Cancelación
                                            option(value="Zona de BBQ/Cambios" style="margin-left:15px;") Cambios
                                            optgroup(label="Limpieza" style="margin-left:15px;")
                                                option(value="Zona de BBQ/Limpieza/Piso Deck") Piso Deck
                                                option(value="Zona de BBQ/Limpieza/Lava Platos") Lava Platos
                                                option(value="Zona de BBQ/Limpieza/Mesa") Mesa
                                                option(value="Zona de BBQ/Limpieza/Parilla") Parilla
                                            optgroup(label="Cuarto de Billar" style="color:#000;")
                                                optgroup(label="Reservación" style="margin-left:15px;")
                                                    option(value="Cuarto de Billar/Reservación/Mesa de billar") Mesa de billar
                                                    option(value="Cuarto de Billar/Reservación/Mesa Pool") Mesa Pool
                                                option(value="Cuarto de Billar/Cancelación" style="margin-left:15px;") Cancelación
                                                option(value="Cuarto de Billar/Cambios" style="margin-left:15px;") Cambios
                                                optgroup(label="Limpieza" style="margin-left:15px;")
                                                    option(value="Cuarto de Billar/Limpieza/Ventanas") Ventanas
                                                    option(value="Cuarto de Billar/Limpieza/Piso PVC") Piso PVC
                                                    option(value="Cuarto de Billar/Limpieza/Lámparas") Lámparas
                                            optgroup(label="Gimnasio" style="color:#000;")
                                                optgroup(label="Gimnasio/Limpieza" style="margin-left:15px;")
                                                    option(value="Gimnasio/Limpieza/Ventanas") Ventanas
                                                    option(value="Gimnasio/Limpieza/Espejo en cuarto de yoga") Espejo en cuarto de yoga
                                                    option(value="Gimnasio/Limpieza/Espejo en la área de pesas") Espejo en la área de pesas
                                                    option(value="Gimnasio/Limpieza/Piso PVC") Piso PVC
                                                    option(value="Gimnasio/Limpieza/Maquinas de ejercicio") Maquinas de ejercicio
                                                    option(value="Gimnasio/Limpieza/Baño del gimnasio") Baño del gimnasio
                                            optgroup(label="Salón de Juegos" style="color:#000;")
                                                optgroup(label="Salón de Juegos/Reservaciones" style="margin-left:15px;")
                                                    option(value="Salón de Juegos/Reservaciones/Mesa de Ping Pong") Mesa de Ping Pong
                                                    option(value="Salón de Juegos/Reservaciones/PlayStation") PlayStation
                                                    option(value="Salón de Juegos/Reservaciones/Xbox") Xbox
                                                option(value="Salón de Juegos/Cancelaciones" style="margin-left:15px;") Cancelaciones
                                                option(value="Salón de Juegos/Cambios" style="margin-left:15px;") Cambios
                                                option(value="Salón de Juegos/Aseo" style="margin-left:15px;") Aseo
                                                option(value="Salón de Juegos/Limpieza del baño" style="margin-left:15px;") Limpieza del baño
                                .form-group
                                    label Priority
                                    .select
                                        select.editopenticket#openticketpriority(name="priority")
                                            option(value="" selected) Priority
                                            option(value="1") 1 / High Priority / 12H
                                            option(value="2") 2 / Medium Priority / 48H
                                            option(value="3") 3 / Low Priority / 72H
                                            option(value="4") 4 / To plan / To schedule

                            .col-xs-12.col-sm-9.ticket-right
                                .col-xs-12.has-feedback
                                    p.ticketrequestby.text-capitalize#ticketrequestby
                                    p.ticketsubject#ticketsubject
                                    p.ticketcategory#ticketcategory
                                    p.ticketdate#ticketdate
                                    p.ticketdate#ticketattentiondate
                                    p.ticketdate#closedDate
                                    .buttons-status(style="")
                                        button#uno(type="button" title="Pending" class="btn-exclamation-circle btn-status classStatus no-padding" data-status="0" data-id="1")
                                            i(class="fa fa-exclamation-circle")
                                        button#dos(type="button" title="Open" class="btn-clock-o btn-status classStatus " data-status="1" data-id="2")
                                            i(class="fa fa-clock-o")
                                        button#tres(type="button" title="Resolved" class="btn-check-circle btn-status classStatus no-padding" data-status="2" data-id="3")
                                            i(class="fa fa-check-circle")

                                .col-xs-12
                                    // Nav tabs
                                    ul.col-xs-12.nav.nav-tabs.comment-section.edit-ticket(role='tablist')
                                        li.active(role='presentation')
                                            a.gray(href='#comment', aria-controls='comment', role='tab', data-toggle='tab') Comment
                                        li(role='presentation')
                                            a.gray(href='#note', aria-controls='note', role='tab', data-toggle='tab') Note
                                    // Tab panes
                                    .col-xs-12.no-padding.tab-content.edit-ticket
                                        form.tab-pane.active#comment(method="post" enctype="multipart/form-data" role='tabpanel')
                                            textarea.form-control.message_input(rows="4" placeholder="Type your comment here...")

                                            .bottom_wrapper.clearfix
                                                .send_message.sendMessage.btn-livinn(data-current-user="" data-current-user-image="")
                                                    .icon
                                                    .text SEND
                                                input#attachmentFile(type="file" style="display:none" name='attachments')
                                                a#attachFile.comment-attachment.pull-right
                                                    i.icon.ion-paperclip(aria-hidden='true')
                                                    |   Attach a file



                                        form.tab-pane#note(role='tabpanel' method="post" enctype="multipart/form-data")
                                            textarea.form-control#textareaNotes(rows="4" placeholder="Type your notes here...")
                                            .bottom_wrapper.clearfix
                                                .send_message.sendNote.btn-livinn(data-current-user="" data-current-user-image="")
                                                    .icon
                                                    .text SEND
                                                input#attachmentFileNote(type="file" style="display:none" name='attachments')
                                                a#attachFileNote.comment-attachment.pull-right
                                                    i.icon.ion-paperclip(aria-hidden='true')
                                                    |   Attach a file

                                .col-xs-12.nav-tabs-comments-wrapper
                                    // Nav tabs
                                    ul.col-xs-12.nav.nav-tabs.nav-tabs-comments.comment-section(role='tablist')
                                        li.active(role='presentation')
                                            a.gray(href='#allcomments', aria-controls='allcomments', role='tab', data-toggle='tab')
                                                |   All Comments
                                                span.badge#commentslength -
                                        li(role='presentation')
                                            a.gray(href='#allnotes', aria-controls='allnotes', role='tab', data-toggle='tab')
                                                |   Notes
                                                span.badge#noteslength -
                                    // Tab panes
                                    .col-xs-12.no-padding.tab-content
                                        #allcomments.tab-pane.active(role='tabpanel')
                                            ul.messages.styleMessage
                                            .message_template
                                                li(class="message" data-id="" data-user="")
                                                    input#hiddenPhoto(type="hidden")
                                                    .ticket-profile-img-2
                                                        img.img-user-conversation(src="" class="img-circle img-responsive")
                                                    .text_wrapper
                                                        .text
                                        #allnotes.tab-pane(role='tabpanel')
                                            ul.notes.styleMessage
                                            .message_template
                                                li(class="message" data-id="" data-user="")
                                                    .ticket-profile-img-2
                                                        img.img-user-conversation(src="" class="img-circle img-responsive")
                                                    .text_wrapper
                                                        .text


block scripts
    script(src="/plugins/summernote/summernote.min.js")
    script(src="/plugins/summernote/lang/summernote-es-ES.js")
    script(src="/js/jquery.bootpag.min.js")
    script(src="/js/parsley.min.js")
    script.

        var tlocation = '',
            tcategory = '',
            tsubcategory = '',
            tstatus = '';
            tpriority = '';

        function deployFilters1() {
          if ($("#searchTicket").hasClass("userFiltersUp")) {
              $("#searchTicket").removeClass("userFiltersUp");
              $("#searchTicket").addClass("userFiltersDown");
          }
        }

        function collapseFilters1() {
          if ($("#searchTicket").hasClass("userFiltersDown")) {
              $("#searchTicket").removeClass("userFiltersDown");
              $("#searchTicket").addClass("userFiltersUp");
          }
        }

        //- Filter Location Tickets
        $('.locationSearch').click(function() {

          var selLocationTicket = $(this).html();
          tlocation = selLocationTicket;
          $('#locationDropdownTicket').html(selLocationTicket+'<i class="fa fa-angle-down"></i>');
          $('.locationDropdownTicket').html(selLocationTicket+'<span><i class="icon ion-ios-arrow-down"></span>');
          filterTickets(1);
        });

        $('.cleanLocationTicket').click(function() {
          tlocation = '';
          $('#locationDropdownTicket').html('Location<i class="fa fa-angle-down"></i>');
          $('.locationDropdownTicket').html('Location<span><i class="icon ion-ios-arrow-down"></span>');
          filterTickets(1);
        });

        //- Filter Category Tickets
        $('.categorySearch').click(function() {
          var selectedCategory = $(this).html();
          tcategory = selectedCategory;
          $('#categoryDropdownTicket').html(selectedCategory+'<i class="fa fa-angle-down">');
          $('.categoryDropdownTicket').html(selectedCategory+'<span><i class="fa fa-angle-down"></span>');
          filterTickets(1);
        });

        $('.cleanCategorySearch').click(function() {
          tcategory = '';
          $('#categoryDropdownTicket').html('Category<i class="fa fa-angle-down">');
          $('.categoryDropdownTicket').html('Category<span><i class="fa fa-angle-down"></span>');
          filterTickets(1);
        });

        //- Filter Subcategory Tickets
        $('.subcategorySearch').click(function() {
          var selectedSubcategory = $(this).html();
          tsubcategory = selectedSubcategory;
          $('#subcategoriesDropdownTicket').html(selectedSubcategory+'<i class="fa fa-angle-down">');
          $('.subcategoriesDropdownTicket').html(selectedSubcategory+'<span><i class="fa fa-angle-down"></span>');
          filterTickets(1);
        });

        $('.cleanSubcategoriesSearch').click(function() {
          tsubcategory = '';
          $('#subcategoriesDropdownTicket').html('Subcategories<i class="fa fa-angle-down">');
          $('.subcategoriesDropdownTicket').html('Subcategories<span><i class="fa fa-angle-down"></span>');
        });

        //- Filter Status Tickets
        $('.statusSearch').click(function() {
          var selectedStatus = $(this).html();
          tstatus = selectedStatus;
          $('#statusDropdownTicket').html(selectedStatus+'<i class="fa fa-angle-down">');
          $('.statusDropdownTicket').html(selectedStatus+'<span><i class="fa fa-angle-down"></span>');
          filterTickets(1);
        });

        $('.cleanStatusSearch').click(function() {
          tstatus = '';
          $('#statusDropdownTicket').html('Status<i class="fa fa-angle-down">');
          $('.statusDropdownTicket').html('Status<span><i class="fa fa-angle-down"></span>');
          filterTickets(1);
        });

        //- Filter Priority Tickets
        $('.prioritySearch').click(function() {
          var selectedPriority = $(this).html();
          //- console.log(selectedPriority);
          tpriority = selectedPriority;
          $('#priorityDropdownTicket').html(selectedPriority+'<i class="fa fa-angle-down">');
          $('.priorityDropdownTicket').html(selectedPriority+'<span><i class="fa fa-angle-down"></span>');
          filterTickets(1);
        });

        $('.cleanPrioritySearch').click(function() {
          tpriority = '';
          $('#priorityDropdownTicket').html('Priority<i class="fa fa-angle-down">');
          $('.priorityDropdownTicket').html('Priority<span><i class="fa fa-angle-down"></span>');
          filterTickets(1);
        });

        $('.filter').on('change', function () {
            filterTickets(1);
        });

        var openticketid = '';

        $(document).ready(function () {

            $(function () {
                $('[data-tooltip="true"]').tooltip();
            });

            var count = 2;
            $(window).scroll(function () {
                if (($(window).scrollTop() == $(document).height() - $(window).height()) && $('#loading').length) {
                    //console.log('loading on scroll, page: ' + count);
                    filterTickets(count);
                    count++;
                }
            });

            filterTickets(1);

        });

        //----------------- SOCKET.IO ---------------------------

        var socket = io('/superadmin');
        var attachment = '';

        socket.on('new-ticket', function (dataServer) {

            console.log("socket: new-ticket received");
            console.log(dataServer);

            Push.create("Livinn", {
                body: "New Work Order!",
                icon: '/favicon/ms-icon-144x144.png',
                timeout: 4000,
                onClick: function () {
                    window.focus();
                    this.close();
                }
            });

            var today = moment();
            var createddate = '';
            var formatedDate = '';
            var priority = 'four';
            var assignedto = '';
            var opened = '';

            //Date
            createddate = moment(dataServer.ticket.created);
            if (today.isSame(createddate, 'd')) {
                formatedDate = createddate.format('LT');
            } else {
                formatedDate = createddate.format('MMM D');
            }

            //Priority
            if (dataServer.ticket.priority == 1) {
                priority = 'one';
            } else if (dataServer.ticket.priority == 2) {
                priority = 'two';
            } else if (dataServer.ticket.priority == 3) {
                priority = 'three';
            } else {
                priority = 'four';
            }

            //Assigned to
            if (!dataServer.ticket.assigned_to || dataServer.ticket.assigned_to.length == 0) {
                assignedto = 'Not assigned';
            } else {

                assignedto = '';
                for (i = 0; i < dataServer.ticket.assigned_to.length; i++) {
                    if (i == dataServer.ticket.assigned_to.length - 1) {
                        assignedto += ' ' + dataServer.ticket.assigned_to[i].name.first + ' ' + dataServer.ticket.assigned_to[i].name.last + '.';
                    } else {
                        assignedto += ' ' + dataServer.ticket.assigned_to[i].name.first + ' ' + dataServer.ticket.assigned_to[i].name.last + ', ';
                    }
                }
            }

            //Opened
            if (dataServer.ticket.opened) {
                opened = 'opened';
            } else {
                opened = '';
            }

            $('.tickets').prepend('<div class="col-xs-12 no-padding ticket ' + priority + ' ' + opened + '" data-ticketid="' + dataServer.ticket._id + '"><div class="col-xs-2 col-sm-1 no-padding ticket-profile-img"><img src="' + dataServer.ticket.requested_by.profile_picture + '" class="img-circle img-responsive"></div><div class="col-xs-10 col-sm-11 no-padding ticket-up-info"><button onclick="openTicket(\'' + dataServer.ticket._id + "\',\'" + dataServer.ticket.requested_by.profile_picture + '\')" class="col-xs-12 col-md-10 no-padding ticket-title">' + dataServer.ticket.subject + '</button><p class="col-xs-12 no-padding reference">#'  + createddate.format('YYYY.MM.DD')+"-"+getLocationCode(dataServer.ticket.location)+"-"+dataServer.ticket.id + '</p><p class="col-xs-12 no-padding assigned-to">  Assigned to:<span class="text-capitalize">' + assignedto + '</span></p><p class="col-xs-12 no-padding created-by">  Created by: <span class="text-capitalize"> ' + dataServer.ticket.created_by.name.first + " " + dataServer.ticket.created_by.name.last + '</span></p><div class="col-xs-12 no-padding ticket-subtitle"><div class="col-xs-6 no-padding catsubcat">' + getCategory(dataServer.ticket.category) + '<br class="visible-xs">' + getCategory(dataServer.ticket.subcategory) + '</div><div class="col-xs-6 no-padding"><p class="ticket-date">' + formatedDate + '</p></div></div></div><div class="ticket-btn-group hidden-xs hidden-sm">' + getStatus(dataServer.ticket.status, dataServer.ticket._id) + '</div></div>');

        });

        //----------------- HELPERS ---------------------------
        $("#btn-mobileMenu").click(function () {
          $("#workordertitle").toggleClass("hidden-lg");
        });

        function getCategory(category) {
            var value = '';
            if (category) {
                if (category == 'cleaning services') {
                    value = "<span class='label label-cleaning'>CLEANING SERVICES</span>";
                } else if (category == 'customer service') {
                    value = "<span class='label label-customer'>CUSTOMER SERVICES</span>";
                } else if (category == 'it support') {
                    value = "<span class='label label-it'>IT SUPPORT</span>";
                } else if (category == 'maintenance') {
                    value = "<span class='label label-maintenance'>MAINTENANCE</span>";
                } else if (category == 'visits') {
                    value = "<span class='label label-visits'>VISITS</span>";
                } else if (category == 'others') {
                    value = "<span class='label label-other'>OTHERS</span>";
                } else {
                    value = "<span class='label label-default text-uppercase'>" + category + "</span>";
                }
            }
            return value;
        }

        function getStatus(status, id) {
            var source = "";
            switch (status) {
                case 0:
                    source = '<button type="button" title="Pending" class="btn-exclamation-circle btn-status active" data-id="' + id + '" data-status="0"><i class="fa fa-exclamation-circle"></i></button><button type="button" title="Open" class="btn-clock-o btn-status" data-id="' + id + '" data-status="1"><i class="fa fa-clock-o"></i></button><button type="button" title="Resolved" class="btn-check-circle btn-status" data-id="' + id + '" data-status="2"><i class="fa fa-check-circle"></i></button>';
                    break;
                case 1:
                    source = '<button type="button" title="Pending" class="btn-exclamation-circle btn-status" data-id="' + id + '" data-status="0"><i class="fa fa-exclamation-circle"></i></button><button type="button" title="Open" class="btn-clock-o btn-status active" data-id="' + id + '" data-status="1"><i class="fa fa-clock-o"></i></button><button type="button" title="Resolved" class="btn-check-circle btn-status" data-id="' + id + '" data-status="2"><i class="fa fa-check-circle"></i></button>';
                    break;
                case 2:
                    source = '<ul class="list-inline"><li title="Pending" class="btn-exclamation-circle " data-id="' + id + '" data-status="0"><i class="fa fa-exclamation-circle"></i></li><li title="Open" class="btn-clock-o " data-id="' + id + '" data-status="1"><i class="fa fa-clock-o"></i></li><li title="Resolved" class="btn-check-circle active" data-id="' + id + '" data-status="2"><i class="fa fa-check-circle"></i></li></ul>';
                    break;
            }
            ;
            return source;
        }

        $("#searchinput").autocomplete({
            source: function (request, response) {
                $('#searchinput').css("cursor", "wait");
                var url = "/api/users?page=" + 1 + "&search=" + $("#searchinput").val();
                $.ajax({
                    type: "GET",
                    url: url,
                    success: function (data) {
                        $('#searchinput').css("cursor", "text");
                        response(data.users);
                    }
                });

            },
            select: function (event, ui) {
                $("#searchinput").append('<div><span><img class="img-circle user-disp-img" src="' + ui.item.profile_picture + '"></span></div>');
                $("#searchinputHidden").val(ui.item._id);
                return false;
            },
            minLength: 1
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            console.log(item);
            return $("<li class='li-autocomplete li-user' data-id='" + item._id + "' style='margin-bottom:5px;'></li>").append('<span><img class="img-circle user-disp-img" src="' + item.profile_picture + '"></span>' + item.name.first + ' ' + item.name.last).appendTo(ul);
        };

        $("#ticketasignee").autocomplete({
            source: function (request, response) {
                $('#ticketasignee').css("cursor", "wait");
                var url = "/api/users?page=" + 1 + "&search=" + $("#ticketasignee").val() + '&role=resident';
                $.ajax({
                    type: "GET",
                    url: url,
                    success: function (data) {
                        $('#ticketasignee').css("cursor", "text");
                        response(data.users);
                    }
                });

            },
            minLength: 1
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            console.log(item);
            return $("<li class='li-autocomplete asigneeli' data-id='" + item._id + "' data-pic='" + item.profile_picture + "' data-name='" + item.name.first + " " + item.name.last + "' style='margin-bottom:5px;'></li>").append('<span><img class="img-circle user-disp-img" src="' + item.profile_picture + '"></span>' + item.name.first + ' ' + item.name.last).appendTo(ul);
        };

        function getLocationCode(location){
            var loc = 'NOTFOUND';
            if(location == "Barranquilla - Villa Campestre"){
              loc = "VC";
            } else if(location == "Bogotá - Calle 18"){
              loc = "C18";
            } else if(location == "Bogotá - Calle 21"){
              loc = "C21";
            } else if(location == "Bogotá - Calle 33"){
              loc = "C33";
            } else if(location == "Santiago - Lord Cochrane"){
              loc = "LC";
            } else if(location == "Viña Del Mar - Alvarez"){
              loc = "AL";
            } else {

            }
            return loc;
        }

        //----------------- CREATE ---------------------------

        $('#ticketForm').submit(function (evt) {

            evt.preventDefault();
            var url = $(this).attr("action");
            var formData = new FormData($('#ticketForm')[0]);

            $.ajax({
                type: "POST",
                url: url,
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    console.log(response);
                    if (response.message == 'Work Order has been created') {
                        socket.emit('new-ticket', {ticket: response.ticket});
                        $('#newticketModal').modal('hide');
                        $('#subject').val("");
                        $('#searchinputHidden').val("");
                        $('#summernote').summernote("reset");
                        $('#ticketForm').parsley().reset();
                        document.getElementById('ticketForm').reset();
                        successAlert(response.message);
                    } else {
                        warningAlert('Error creating work order');
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    var message = XMLHttpRequest.responseJSON.message;
                    console.log(XMLHttpRequest);
                    warningAlert(message);

                }
            });
        });

        //----------------- READ ---------------------------
        function getTickets(page, search) {

            if (page == '1') {
                $('.tickets').hide().html("");
                $('#loader').fadeIn("slow");
            } else {
                $('#loading').fadeIn("slow");
            }

            var options = '';
            var valor = $('#categoryDropdownTicket').val();
            console.log(valor);

            (tlocation != '') ? options += '&location='+tlocation : null;
            (tcategory != '')? options += '&category=' + tcategory : null;
            (tsubcategory != '')? options += '&subcategory=' + tsubcategory : null;
            (tstatus != '')? options += '&status=' + tstatus : null;
            (tpriority != '')? options += '&priority=' + tpriority : null;


            var searchby = $("#searchby").val();
            var searchtext = $('#search').val().trim();

            if (searchtext != '') {
                if (searchby == 'created_by') {
                    options += '&created_by=' + search;
                } else if (searchby == 'assigned_to') {
                    options += '&assigned_to=' + search;
                } else if (searchby == 'requested_by') {
                    options += '&requested_by=' + search;
                } else {
                    options += '&id=' + search;
                }
            }

            $.ajax({
                type: "GET",
                url: '/api/users/#{user._id}/tickets?page=' + page + options,
                success: function (data) {

                    console.log(data);

                    var count = data.count;
                    var category = "";

                    var today = moment();
                    var createddate = '';
                    var formatedDate = '';
                    var priority = 'four';
                    var assignedto = '';
                    var opened = '';

                    if (data.tickets.length == 0) {
                        $('#loading').remove();
                    }
                    ;
                    for (key = 0; key < data.tickets.length; key++) {

                        //Date
                        createddate = moment(data.tickets[key].created);
                        if (today.isSame(createddate, 'd')) {
                            formatedDate = createddate.format('LT');
                        } else {
                            formatedDate = createddate.format('MMM D');
                        }

                        //Priority
                        if (data.tickets[key].priority == 1) {
                            priority = 'one';
                        } else if (data.tickets[key].priority == 2) {
                            priority = 'two';
                        } else if (data.tickets[key].priority == 3) {
                            priority = 'three';
                        } else {
                            priority = 'four';
                        }

                        //Assigned to
                        if (!data.tickets[key].assigned_to || data.tickets[key].assigned_to.length == 0) {
                            assignedto = 'Not assigned';
                        } else {
                            assignedto = '';
                            for (i = 0; i < data.tickets[key].assigned_to.length; i++) {


                                if (typeof data.tickets[key].assigned_to[i].name.first !== 'undefined') {

                                    if (i == data.tickets[key].assigned_to.length - 1) {
                                        assignedto += ' ' + data.tickets[key].assigned_to[i].name.first + ' ' + data.tickets[key].assigned_to[i].name.last + '.';
                                    } else {
                                        assignedto += ' ' + data.tickets[key].assigned_to[i].name.first + ' ' + data.tickets[key].assigned_to[i].name.last + ', ';
                                    }
                                }


                            }
                        }

                        //Opened
                        if (data.tickets[key].opened) {
                            opened = 'opened';
                        } else {
                            opened = '';
                        }

                        //console.log(assignedto);
                        $('.tickets').append('<div class="col-xs-12 no-padding ticket ' + priority + ' ' + opened + '" data-ticketid="' + data.tickets[key]._id + '"><div class="col-xs-2 col-sm-1 no-padding ticket-profile-img"><img src="' + data.tickets[key].requested_by.profile_picture + '" class="img-circle img-responsive"></div><div class="col-xs-10 col-sm-11 no-padding ticket-up-info"><button onclick="openTicket(\'' + data.tickets[key]._id + "\',\'" + data.tickets[key].requested_by.profile_picture + '\')" class="col-xs-12 col-md-10 no-padding ticket-title">' + data.tickets[key].subject + '</button><p class="col-xs-12 no-padding reference">#' + createddate.format('YYYY.MM.DD')+"-"+getLocationCode(data.tickets[key].location)+"-"+data.tickets[key].id + '</p><p class="col-xs-12 no-padding assigned-to">  Assigned to: <span class="text-capitalize">' + assignedto + '</span></p><p class="col-xs-12 no-padding created-by">  Created by: <span class="text-capitalize"> ' + data.tickets[key].created_by.name.first + " " + data.tickets[key].created_by.name.last + '</span></p><div class="col-xs-12 no-padding ticket-subtitle"><div class="col-xs-6 no-padding catsubcat">' + getCategory(data.tickets[key].category) + '<br class="visible-xs">' + getCategory(data.tickets[key].subcategory) + '</div><div class="col-xs-6 no-padding"><p class="ticket-date">' + formatedDate + '</p></div></div></div><div class="ticket-btn-group hidden-xs hidden-sm">' + getStatus(data.tickets[key].status, data.tickets[key]._id) + '</div></div>');

                    }                    ;
                },
                error: function(xhr){
                  warningAlert(xhr.responseJSON.message);
                  $('#loader').fadeOut("fast", function () {
                    $('#loading').fadeOut("slow");
                    $('.tickets').removeClass("hidden").fadeIn();
                  });
                }

            }).done(function (data) {
                $('#loader').fadeOut("fast", function () {
                    $('#loading').fadeOut("slow");
                    $('.tickets').removeClass("hidden").fadeIn();
                });
            });
        }

        $('#search').on({
            focus: function () {
                $("#searchform .input-group-addon").addClass('focused');
            },

            blur: function () {
                $("#searchform .input-group-addon").removeClass('focused');
            }
        });

        /* Get params from all filters */
        function filterTickets(page) {
            var search = $('#search').val().trim();
            getTickets(page, search);
        }

        $('#searchForm').submit(function (evt) {
            evt.preventDefault();
            filterTickets(1);
        });


        /*=== READ: Open ticket ===*/

        function openTicket(ticketid, img) {

            openticketid = ticketid;

            $('.messages').empty();
            $('.notes').empty();
            $("#ticketasigneeGroup").empty();
            $('#ticketasignee').val('');
            $('#attachFileNote').html('<i class="icon ion-paperclip" aria-hidden="true"></i> Attach a file')
            $('#attachFile').html('<i class="icon ion-paperclip" aria-hidden="true"></i> Attach a file')
            $('.send_message').attr('data-current-user', '#{user._id}');
            $('.send_message').attr('data-current-user-image', '#{user.profile_picture}');
            $('.send_message').attr('data-name', '#{user.name.first}  #{user.name.last}');
            $('.send_message').attr('data-name', '#{user.name.first}  #{user.name.last}');

            $.ajax({
                type: "GET",
                url: 'api/tickets/' + ticketid,
                success: function (response) {

                    console.log(response);

                    if(response.ticket.status == 2){
                      $(".ticket-left").hide();
                      $(".ticket-right").addClass("col-sm-offset-1");
                      $(".ticket-right").removeClass("col-sm-9");
                      $(".ticket-right").addClass("col-sm-10");
                      $(".edit-ticket").hide();
                      $("#closedDate").html('Close Date: '+moment(response.ticket.closed).format('MMMM Do YYYY, h:mm:ss a') );
                      $("#closedDate").show();
                    }else{
                      $(".ticket-left").show();
                      $(".ticket-right").removeClass("col-sm-offset-1");
                      $(".ticket-right").addClass("col-sm-9");
                      $(".ticket-right").removeClass("col-sm-10");
                      $(".edit-ticket").show();
                      $("#closedDate").hide();
                    }

                    $('#hiddenTicket').val(response.ticket._id);
                    $('.readModalTitle').html('Work Order #' + moment(response.ticket.created).format('YYYY.MM.DD')+"-"+getLocationCode(response.ticket.location)+"-"+response.ticket.id );
                    $("#ticketrequestor").html("<span><img class='img-circle user-disp-img' src='" + response.ticket.requested_by.profile_picture + "'</span>" + response.ticket.requested_by.name.first + " " + response.ticket.requested_by.name.last);
                    $("#ticketemail").text(response.ticket.requested_by.email);
                    if (response.ticket.requested_by.phone.number) {
                        $("#ticketphone").text(response.ticket.requested_by.phone.number);
                    } else {
                        $("#ticketphone").text("N/A");
                    }
                    $("#openticketcategory").val(response.ticket.category);
                    $("#openticketsubcategory").val(response.ticket.subcategory);
                    $("#openticketpriority").val(response.ticket.priority);
                    $("#ticketrequestby").html("<span class='text'><img class='img-circle user-disp-img' src='" + response.ticket.requested_by.profile_picture + "'</span>" + response.ticket.requested_by.name.first + " " + response.ticket.requested_by.name.last);
                    $("#ticketsubject").text(response.ticket.subject);
                    $("#ticketcategory").html(getCategory(response.ticket.category) + getCategory(response.ticket.subcategory));
                    $('#uno').attr('data-id', response.ticket._id);
                    $('#dos').attr('data-id', response.ticket._id);
                    $('#tres').attr('data-id', response.ticket._id);
                    if (response.ticket.status == 0) {
                        $('.classStatus').prop('disabled', false);
                        $('.classStatus').removeClass('active');
                        $('#uno').addClass('active');
                        $('#uno').removeClass('status-disabled');
                        $('#dos').removeClass('status-disabled');
                    }
                    if (response.ticket.status == 1) {
                        $('.classStatus').prop('disabled', false);
                        $('.classStatus').removeClass('active');
                        $('#dos').addClass('active');
                        $('#uno').removeClass('status-disabled');
                        $('#dos').removeClass('status-disabled');

                    }
                    if (response.ticket.status == 2) {
                        $('.classStatus').removeClass('active');
                        $('#tres').addClass('active');
                         $('.classStatus').prop('disabled', true);
                         $('#uno').addClass('status-disabled');
                         $('#dos').addClass('status-disabled');
                    }

                    $.each(response.ticket.assigned_to, function (key, value) {
                        $("#ticketasigneeGroup").append("<span><img class='img-circle user-disp-img' src='" + value.profile_picture + "'</span><span class='label label-default'>" + value.name.first + " " + value.name.last + "  <a><i data-assignee='" + value._id + "' data-ticket-id='" + response.ticket._id + "' id='assignee" + value._id + "' class='remove glyphicon glyphicon-remove-sign glyphicon-white tag-assigned removeAssignee'></i></a> </span>");
                    });

                    $("#ticketdate").html('Request Date: '+moment(response.ticket.created).format('MMMM Do YYYY, h:mm:ss a'));
                    $("#messageRead").text(response.ticket.message);


                    (function () {

                        var Message;
                        Message = function (arg) {
                            this.profile_pic = arg.profile_pic;
                            this.user = arg.user;
                            this.text = arg.text;
                            this.message_side = arg.message_side;
                            this.user = arg.user;
                            this.name = arg.name;
                            this.section = arg.section;
                            this.created = arg.created;
                            this.file = arg.file;
                            this.filename = arg.filename;

                            this.draw = function (_this) {
                                return function () {
                                    var $message;
                                    $message = $($('.message_template').clone().html());
                                    $message.attr('data-user', _this.user);
                                    $message.attr('data-side', _this.message_side);
                                    $message.attr('data-name', _this.name);
                                    $message.addClass(_this.message_side).find('.text').append('<label class="label-message">' + _this.name + '</label><br>');
                                    if (_this.file !== '')
                                        $message.addClass(_this.message_side).find('.text').append('<p class="comment-chat-date">' + _this.created + '</p><p class="comment-chat">' + _this.text + '</p>' + '<p class="comment-attachment"><a href="' + _this.file + '" target="_blank"><i class="fa fa-paperclip" aria-hidden="true"></i> ' + _this.filename + '</a></p>');
                                    else
                                        $message.addClass(_this.message_side).find('.text').append('<p class="comment-chat-date">' + _this.created + '</p><p class="comment-chat">' + _this.text + '</p>');


                                    $message.find('.img-user-conversation').attr('src', _this.profile_pic);
                                    $('.' + _this.section).append($message);
                                    return $message.addClass('appeared');
                                };
                            }(this);
                            return this;
                        };
                        $(function () {
                            var getMessageText, message_side, sendMessage;
                            getMessageText = function () {
                                var $message_input;
                                $message_input = $('.message_input');
                                return $message_input.val();
                            };
                            sendMessage = function (text, user, side, profile_pic, name, section, created, file, filename) {
                                var $messages, message;
                                if (text.trim() === '') {
                                    return;
                                }
                                $('.message_input').val('');
                                $('#textareaNotes').val('');
                                $messages = $('.messages');
                                message = new Message({
                                    text: text,
                                    message_side: 'left',
                                    profile_pic: profile_pic,
                                    user: user,
                                    name: name,
                                    section: section,
                                    created: created,
                                    file: file,
                                    filename: filename
                                });
                                message.draw();
                                return $messages.animate({scrollTop: $messages.prop('scrollHeight')}, 0);
                            };

                            if ($('#hiddenHelper').val() == 0) {
                                $('#hiddenHelper').val(1);

                                $('.sendNote').click(function (e) {
                                    var ticket = $('#hiddenTicket').val();
                                    var formData = new FormData($('#note')[0]);
                                    formData.append('discussion_id', ticket);
                                    formData.append('posted_by', $(this).attr('data-current-user'));
                                    formData.append('note', $('#textareaNotes').val());

                                    $.ajax({
                                        type: "POST",
                                        url: '/api/notes',
                                        data: formData,
                                        processData: false,
                                        contentType: false,
                                        success: function (response) {

                                            $('#attachFileNote').html('<i class="icon ion-paperclip" aria-hidden="true"></i> Attach a file');
                                            $('#attachmentFileNote').val('');
                                            var count = $('#noteslength').text();
                                            $('#noteslength').text(parseFloat(count) + 1);
                                            return sendMessage($('#textareaNotes').val(), $('.sendNote').attr('data-current-user'), 'left', $('.sendNote').attr('data-current-user-image'), $('.sendNote').attr('data-name'), 'notes', moment(Date.now()).format('YYYY-MM-DD h:mm:ss a'), response.note.attachments, response.note.file_name);

                                        },
                                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                                        }
                                    });

                                });

                                $('.sendMessage').click(function (e) {
                                    var ticket = $('#hiddenTicket').val();
                                    var formData = new FormData($('#comment')[0]);
                                    formData.append('discussion_id', ticket);
                                    formData.append('posted_by', $(this).attr('data-current-user'));
                                    formData.append('comment', getMessageText());


                                    $.ajax({
                                        type: "POST",
                                        url: '/api/comments',
                                        data: formData,
                                        processData: false,
                                        contentType: false,
                                        success: function (response) {
                                            $('#attachFile').html('<i class="icon ion-paperclip" aria-hidden="true"></i> Attach a file');
                                            $('#attachmentFile').val('');
                                            var count = $('#commentslength').text();
                                            $('#commentslength').text(parseFloat(count) + 1);
                                            return sendMessage(getMessageText(), $('.sendMessage').attr('data-current-user'), 'left', $('.sendMessage').attr('data-current-user-image'), $('.sendMessage').attr('data-name'), 'messages', moment(Date.now()).format('YYYY-MM-DD h:mm:ss a'), response.comment.attachments, response.comment.file_name);
                                        },
                                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                                        }
                                    });

                                });

                            }

                            //First Messages
                            sendMessage(response.ticket.message, response.ticket.requested_by, 'left', img, response.ticket.requested_by.name.first + ' ' + response.ticket.requested_by.name.last, 'messages', moment(response.ticket.created).format('YYYY-MM-DD h:mm:ss a'), response.ticket.attachments, response.ticket.file_name);

                            //Another Messages
                            $.ajax({
                                type: "GET",
                                url: '/api/comments/discussion?ticket=' + response.ticket._id,
                                success: function (response) {

                                    $("#commentslength").text(response.comment.length + 1);
                                    var attention = false;

                                    $.each(response.comment, function (index, value) {
                                        var parent = $('.messages').children().last().attr('data-user');
                                        if(!attention){
                                            attention = true;
                                            $("#ticketattentiondate").html('Attention Date: '+moment().format('MMMM Do YYYY, h:mm:ss a') );
                                        }
                                        sendMessage(value.comment, value.posted_by._id, 'left', value.posted_by.profile_picture, value.posted_by.name.first + ' ' + value.posted_by.name.last, 'messages', moment(value.created).format('YYYY-MM-DD h:mm:ss a'), value.attachments, value.file_name);
                                    });

                                },
                                error: function (XMLHttpRequest, textStatus, errorThrown) {
                                    var message = XMLHttpRequest.responseJSON.message;
                                    warningAlert(message);
                                }
                            });

                            //Load Notes
                            $.ajax({
                                type: "GET",
                                url: '/api/notes/discussion?ticket=' + response.ticket._id,
                                success: function (response) {
                                    $('.notes').empty();
                                    $("#noteslength").text(response.note.length);
                                    $.each(response.note, function (index, value) {
                                        sendMessage(value.note, value.posted_by._id, 'left', value.posted_by.profile_picture, value.posted_by.name.first + ' ' + value.posted_by.name.last, 'notes', moment(value.created).format('YYYY-MM-DD h:mm:ss a'), value.attachments, value.file_name);
                                    });
                                },
                                error: function (XMLHttpRequest, textStatus, errorThrown) {
                                    var message = XMLHttpRequest.responseJSON.message;
                                    warningAlert(message);
                                }
                            });
                        });
                    }.call(this));


                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    var message = XMLHttpRequest.responseJSON.message;
                    warningAlert(message);
                }
            });

            $('#readModal').modal('show');

            $.ajax({
                type: "PUT",
                data: {"opened": true},
                url: '/api/tickets/' + ticketid,
                success: function (response) {
                    $('.ticket[data-ticketid="' + ticketid + '"]').addClass('opened');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    var message = XMLHttpRequest.responseJSON.message;
                    warningAlert(message);
                }
            });
        }

        $("#ticketasignee").autocomplete({
            source: function (request, response) {
                $('#ticketasignee').css("cursor", "wait");
                var url = "/api/users?page=" + 1 + "&search=" + $("#ticketasignee").val() + '&role=resident';
                $.ajax({
                    type: "GET",
                    url: url,
                    success: function (data) {
                        $('#ticketasignee').css("cursor", "text");
                        response(data.users);
                    }
                });

            },
            minLength: 1
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            console.log(item);
            return $("<li class='li-autocomplete asigneeli' data-id='" + item._id + "' data-pic='" + item.profile_picture + "' data-name='" + item.name.first + " " + item.name.last + "' style='margin-bottom:5px;'></li>").append('<span><img class="img-circle user-disp-img" src="' + item.profile_picture + '"></span>' + item.name.first + ' ' + item.name.last).appendTo(ul);
        };
        /*=== UPDATE: Update ticket ===*/
        $('.editopenticket').on('change', function () {
            updateticket(openticketid);
        });

        function updateticket(ticketid) {

            var category = $('#openticketcategory').val();
            var subcategory = $('#openticketsubcategory').val();
            var priority = $('#openticketpriority').val();

            var dataJSON = {
                'category': category,
                'subcategory': subcategory,
                'priority': priority
            };

            $.ajax({

                type: "PUT",
                data: dataJSON,
                url: '/api/tickets/' + ticketid,
                success: function (response) {
                    var cat = getCategory(response.ticket.category) + '<br class="visible-xs">' + getCategory(response.ticket.subcategory);
                    $("#ticketcategory").html(cat);
                    $('.ticket[data-ticketid="' + ticketid + '"] .catsubcat').html(cat);

                    $('.ticket[data-ticketid="' + ticketid + '"]').removeClass('one two three four');
                    if(response.ticket.priority == 1){
                      $('.ticket[data-ticketid="' + ticketid + '"]').addClass('one');
                    } else if(response.ticket.priority == 2){
                      $('.ticket[data-ticketid="' + ticketid + '"]').addClass('two');
                    } else if(response.ticket.priority == 3){
                      $('.ticket[data-ticketid="' + ticketid + '"]').addClass('three');
                    } else if(response.ticket.priority == 4){
                      $('.ticket[data-ticketid="' + ticketid + '"]').addClass('four');
                    } else {
                      //Do nothing
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    var message = XMLHttpRequest.responseJSON.message;
                    warningAlert(message);
                }
            });

        }

        /*=== SEARCH: Search ticket ===*/
        $('#searchform').submit(function (event) {

            event.preventDefault();

            $('.tickets').fadeOut("fast", function () {
                $('#loader').fadeIn("fast");
                $('.tickets').html('');
                getTickets(1, $("#search").val());
            });
        });

        //Search Mobile

        $('#searchmobile').keypress(function () {
            $('.tickets').fadeOut("fast", function () {
                $('#loader').fadeIn("fast");
                $('.tickets').html('');

                getTickets(1, $("#searchmobile").val());
            });
        });

        $('#searchmobile').keyup(function (e) {
            if (e.keyCode == 8) {
                $('.tickets').fadeOut("fast", function () {
                    $('#loader').fadeIn("fast");
                    $('.tickets').html('');

                    getTickets(1, $("#searchmobile").val());
                });
            }
        });


        $('#attachFileNote').click(function () {
            $('#attachmentFileNote').trigger('click');
        });

        $("#attachmentFileNote").change(function () {
            var fileName = $(this).val().replace(/C:\\fakepath\\/i, '');
            $("#attachFileNote").text(fileName);
        });

        $('#attachFile').click(function () {
            $('#attachmentFile').trigger('click');
        });

        $("#attachmentFile").change(function () {
            var fileName = $(this).val().replace(/C:\\fakepath\\/i, '');
            $("#attachFile").text(fileName);
        });

        $('body').on('click', '.li-autocomplete', function () {
            $('#searchinput').val($(this).text());
            $('#searchinputHidden').val($(this).attr('data-id'));

        });

        $('body').on('click', '.asigneeli', function () {

            $('#ticketasignee').val($(this).text());
            $('#ticketasigneeHidden').val($(this).attr('data-id'));
            $('#ticketasigneeHidden').attr('data-pic', $(this).attr('data-pic'));
            $('#ticketasigneeHidden').attr('data-name', $(this).attr('data-name'));

            $.ajax({

                type: "PUT",
                data: {
                    assignee: $('#ticketasigneeHidden').val()
                },
                url: '/api/tickets/' + $('#hiddenTicket').val(),
                success: function (response) {
                    if (response.assigned_helper) {
                        var pic = $('#ticketasigneeHidden').attr('data-pic');
                        var name = $('#ticketasigneeHidden').attr('data-name');
                        $("#ticketasigneeGroup").append("<span><img class='img-circle user-disp-img' src='" + $('#ticketasigneeHidden').attr('data-pic') + "'</span><span class='label label-default'>" + $('#ticketasigneeHidden').attr('data-name') + "  <a><i data-assignee='" + $('#ticketasigneeHidden').val() + "' data-ticket-id='" + response.ticket._id + "' id='assignee" + $('#ticketasigneeHidden').val() + "' class='remove glyphicon glyphicon-remove-sign glyphicon-white tag-assigned removeAssignee'></i></a> </span>");
                    }
                    else {
                        warningAlert('This user has already been assigned this ticket')
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    var message = XMLHttpRequest.responseJSON.message;
                    warningAlert(message);
                }
            });
        });

        $('body').on('click', '.removeAssignee', function () {

            var ticket = $(this).attr('data-ticket-id');
            var assignee = $(this).attr('data-assignee');
            $('#ticketassigneeHiddenRemove').val($(this).attr('id'));

            $.ajax({

                type: "PUT",
                data: {
                    assignee: assignee,
                    remove: true
                },
                url: '/api/tickets/' + ticket,
                success: function (response) {
                    console.log(response);
                    $('#' + $('#ticketassigneeHiddenRemove').val()).parent().parent().parent().remove();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    var message = XMLHttpRequest.responseJSON.message;
                    warningAlert(message);
                }
            });
        });



        //Updates Status
        $('body').on('click', '.btn-status', function () {

            $(this).parent().children('button').each(function () {
                this.classList.remove('active'); // "this" is the current element in the loop
            })

            $.ajax({
                type: "PUT",
                data: {
                    status: $(this).attr('data-status')
                },
                url: '/api/tickets/' + $(this).attr('data-id'),
                success: function (response) {
                    console.log(response);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    var message = XMLHttpRequest.responseJSON.message;
                    warningAlert(message);
                }
            });

            $(this).addClass('active');
            if($(this).hasClass('btn-check-circle')){
                $(this).prev().removeClass('btn-status').css('color','#81939E').css('cursor','default');
                $(this).prev().prev().removeClass('btn-status').css('color','#81939E').css('cursor','default');
            }
        });
